/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 768px) {
	.nav{
		text-align: center;
		float: none;
		margin-right: 0;
		margin-top:20px;
	}

	.logo{
		margin:20px auto 0;
	}

	.logoWrapper{
		text-align:center;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}